### EDA for the vehicle dataset 
All the basic preliminary analysis before creating the web application. Includes checks for missing and duplicate values and creating visual plots to aid in better understanding the information.

In [2]:
#importing all the necessary libraries 
import pandas as pd 
import streamlit as st
import plotly_express as px

In [3]:
#storing the data in a dataframe 
df_vehicles = pd.read_csv("https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv")
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [4]:
#looking at the data to make sure columns are correctly formatted 
df_vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [5]:
df_vehicles.count()

price           51525
model_year      47906
model           51525
condition       51525
cylinders       46265
fuel            51525
odometer        43633
transmission    51525
type            51525
paint_color     42258
is_4wd          25572
date_posted     51525
days_listed     51525
dtype: int64

In [6]:
#General description of the data 
df_vehicles.describe()

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

In [7]:
#Checking for missing values 
df_vehicles.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

**NOTE:**
There are quite a few missing values that may be dealt with in different ways for model year, this may only skew data that could potentially be used in some sort of graph or chart when grouping by model year and would be reasonable to drop all missing values the same applies to the amount of cylinders if we were to group by cylinder, odometer reading and paint colour as well. The only "reasonable" set of missing values here is the 'is_4wd' column as the majority of these cars are 2 wheel drive and if they are 4 wheel drive it is indicated with a 1.0 here it's better to replace the missing values with a 0.0 if they are not 4 wheel drive and makes for easier analysis down the road.

In [8]:
df_vehicles.dropna(subset=['model_year', 'cylinders', 'odometer', 'paint_color'], inplace=True)
df_vehicles.isna().sum()

price               0
model_year          0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
transmission        0
type                0
paint_color         0
is_4wd          15064
date_posted         0
days_listed         0
dtype: int64

In [9]:
df_vehicles.fillna({'is_4wd': 0.0}, inplace=True)
df_vehicles.isna().sum()

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [10]:
#Converted 'model_year' to object data type to mitigate error in analysis 
df_vehicles['model_year'] = df_vehicles['model_year'].astype(int)
df_vehicles['model_year'] = df_vehicles['model_year'].astype(str)
df_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29916 entries, 2 to 51523
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         29916 non-null  int64
 1   model_year    29916 non-null  object
 2   model         29916 non-null  object
 3   condition     29916 non-null  object
 4   cylinders     29916 non-null  float64
 5   fuel          29916 non-null  object
 6   odometer      29916 non-null  float64
 7   transmission  29916 non-null  object
 8   type          29916 non-null  object
 9   paint_color   29916 non-null  object
 10  is_4wd        29916 non-null  float64
 11  date_posted   29916 non-null  object
 12  days_listed   29916 non-null  int64
dtypes: float64(3), int64(2), object(8)
memory usage: 3.2+ MB

In [10]:
#Checking for duplicate rows 
df_vehicles.duplicated().sum()

np.int64(0)

**NOTE:**
We've successfully removed all the missing values and checked for duplicates and found no duplicates. All missing values have been processed in the way described in the previous note.

## SCATTERPLOTS AND HISTOGRAMS:

In [11]:
#Added a manufacturer column 
df_vehicles['manufacturer'] = df_vehicles['model'].apply(lambda x: x.split()[0])
df_vehicles.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79,hyundai
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28,chrysler
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,chrysler
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,0.0,2018-12-27,73,toyota
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,honda

In [12]:
#Added a histogram showing types of vehicles by manufacturer
st.header('Vehicle Types by Manufacturer')
fig = px.histogram(df_vehicles, x='manufacturer', color='type')
st.plotly_chart(fig)

2025-03-13 15:08:12.974 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:13.163
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\micha\Car-Site\.venv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-03-13 15:08:13.163 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:13.302 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:13.304 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:13.306 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:13.308 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [13]:
#Histogram of condition vs model year
st.header('Histogram of Condition vs. Model Year')
fig_2 = px.histogram(df_vehicles, x='model_year', color='condition', labels={'model_year': 'Model Year'})
st.write(fig_2)

2025-03-13 15:08:25.277 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:25.278 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:25.325 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:25.326 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:25.327 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:25.328 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
#Histogram comparing the price distribution between manufacturers

st.header('Compare Price Distribution Between Manufacturers')
#Get a list of car manufacturers 
manufac_list = sorted(df_vehicles['manufacturer'].unique())
#Get user's inputs from dropdown menu
manufacturer_1 = st.selectbox(label='Select Manufacturer 1', options=manufac_list, index=manufac_list.index('chevrolet'))
#Repeat for 2nd dropdown menu
manufacturer_2 = st.selectbox(label='Select Manufacturer 2', options=manufac_list, index=manufac_list.index('hyundai'))
#Filter for the df 
mask_filter = (df_vehicles['manufacturer'] == manufacturer_1) | (df_vehicles['manufacturer'] == manufacturer_2)
filtered_df = df_vehicles[mask_filter]

#Added checkbox if a user wants to normalise the histogram 
normalise = st.checkbox('Normalise Histogram', value=True)
if normalise:
    histnorm = 'percent'
else: 
    histnorm = None 

#Creating the histogram 
fig_3 = px.histogram(filtered_df, x='price', nbins=30, color='manufacturer', histnorm=histnorm, barmode='overlay')

#Displaying the figure
st.write(fig_3)

In [14]:
#Creating a scatterplot that Model Year vs odometer reading 
st.header('Model Year vs. Odometer Reading')
fig_4 = px.scatter(df_vehicles, x='model_year', y='odometer', color='manufacturer', opacity=0.5, labels={'model_year': 'Model Year', 'odometer': 'Odometer Reading'})
st.plotly_chart(fig_4)

2025-03-13 15:08:56.471 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:56.471 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:56.604 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:56.605 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:56.606 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:08:56.607 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [15]:
#Histogram showing distribution of price by condition 
st.header('Distribution of Price Based on Vehicle Condition')
fig_5 = px.histogram(df_vehicles, x='price', color='condition')
st.plotly_chart(fig_5, use_container_width=True)

2025-03-13 15:14:08.494 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:14:08.495 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:14:08.543 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:14:08.544 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:14:08.545 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:14:08.546 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [16]:
#Histogram showing the distribution of price based on model year 
st.header('Distribution of Price Based on Model Year')
fig_6 = px.histogram(df_vehicles, x='model_year', y='price', color='manufacturer', labels={'model_year': 'Model Year', 'price': 'Price'})
st.plotly_chart(fig_6)

2025-03-13 15:15:35.085 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:15:35.087 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:15:35.175 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:15:35.175 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:15:35.175 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-13 15:15:35.175 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()